<template>
  <div id="app">
    <form v-on:submit.prevent="onSubmit">
  <input type="text" v-model="name" placeholder="Enter a github username here" />
  <button type="submit">Go!</button>
</form>
        </div>
</template>

<script>

export default {
  data(){
    return {
      name:""
    }
  },
  methods: {
     onSubmit(event) {
    axios.post('student', { name: this.name }).then(function (response) {
    console.log(response);
  })
  .catch(function (error) {

    if (error.response) {
      console.log(error.response.data);
      console.log(error.response.status);
      console.log(error.response.headers);
    }
    console.log(error);
  });
}}
}
</script>
