<template>
<div id="aluno">
  <md-tabs>
    <md-tab id="movies" md-label="Alunos Não vinculados">
      <form v-on:submit.prevent="enviar">
<md-button type="submit" name="button" class="md-raised md-primary">Enviar</md-button>
        <md-input-container>
       <label for="turmas">Turmas</label>
       <md-select name="turmas" id="turmas" v-model="turma">
          <md-option value="">Selecione uma turma!</md-option>
         <md-option v-for="turma in turmas" v-bind:value="turma.id">{{turma.descricao}}</md-option>
       </md-select>
     </md-input-container>
     <div class="phone-viewport">
     <md-list v-for="aluno in alunos" class="custom-list md-triple-line">
       <md-list-item>
         <div class="md-list-text-container">
           <md-checkbox v-on:change="vincular(aluno.matricula)" >{{aluno.nome}}</md-checkbox>
     <md-divider class="md-inset"></md-divider>
          </div>
       </md-list-item>
     </md-list>
   </div>
      </form>
    </md-tab>

    <md-tab id="" md-label="Alunos vinculados">
      <md-input-container>
       <label for="turmass">Turmas</label>
       <md-select name="turmass" v-model="nTurma" v-on:change="getAlunosTurma(nTurma)">
          <md-option value="">Selecione uma turma!</md-option>
         <md-option v-for="nTurma in turmas" v-bind:value="nTurma.id">{{nTurma.descricao}}</md-option>
       </md-select>
     </md-input-container>
     <div class="phone-viewport">
     <md-list v-for="a in alunosTurma" class="custom-list md-triple-line">
       <md-list-item>
         <div class="md-list-text-container">
      {{a.nome}}
     <md-divider class="md-inset"></md-divider>
          </div>
       </md-list-item>
     </md-list>
   </div>
      </form>
    </md-tab>
  </md-tabs>

</div>
</template>

<script>
export default {
    data() {
            return {
                AlunoTurma: {idTurma:"", matriculaAluno:[],numeroChamada:""},
                AlunosChecados:[],
                alunos: [],
                turma: "",
                turmas: [],
                alunosTurma: [],
                nTurma:""
                }
        },
        methods: {
          getAlunosTurma(id){
            console.log('Turma '+id);
            if(id!=""){
axios.get('turma/'+id+'/alunos').then(response => response.data).then(data => Vue.set(this, 'alunosTurma', data));
  console.log(this.alunosTurma);
            }
        },
vincular: function(matricula){
  let oi = this.AlunoTurma.matriculaAluno.filter(function (mat) {
    return mat==matricula
  });
if(oi==matricula){
    this.AlunoTurma.matriculaAluno.splice( this.AlunoTurma.matriculaAluno.indexOf(matricula), 1 );
    }else {
    this.AlunoTurma.idTurma = this.turma;
    this.AlunoTurma.matriculaAluno.push(matricula);
  }},enviar(){
    axios.post('alunoturma',{ matricula_aluno: this.AlunoTurma.matriculaAluno, id_turma: this.turma }).then(function (response) {
    //  console.log(response.data);
        this.getAluno();
  })
  .catch(function (error) {
    if (error.response) {
      console.log(error.response.data);
      console.log(error.response.status);
      console.log(error.response.headers);
    }
  });
    this.getAluno();
},
getAluno(){
      axios.get('alunos/semturma').then(response => response.data).then(data => Vue.set(this, 'alunos', data));
}
          }, created: function() {
            axios.get('alunos/semturma').then(response => response.data).then(data => Vue.set(this, 'alunos', data));
            axios.get('turmas').then(response => response.data).then(data => Vue.set(this, 'turmas', data));
        }
}

</script>
