    <template lang="html">
    <div class="table-emplade">

      <div class="input-field col s12">
      <input v-on:keyup="getAlunos()" type="text" name="shearch" value="" v-model="shearch">
      <label for="shearch">Pesquisar</label>
    </div>
    <div class="card">
        <table class="bordered">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="aluno in alunos">
              <td>{{aluno.nome}}</td>
                <td>
                  <button type="button" class="btn">Visualisar</button>
                  <button type="button" class="btn">Editar</button>
                </td>
          </tr>
        </tbody>
      </table>
      <paginacao-component></paginacao-component>
    </div>

    </div>
    </template>

    <script>
    import PaginacaoComponent from './PaginacaoComponent.vue'

    export default {
      components: {
        PaginacaoComponent
      },
      data(){
        return {
          alunos: {},
          shearch:""
        }
      },
      methods: {
        getAlunos() {
      axios.get('getalunos?shearch='+this.shearch).then(response => response.data.data)
      .then(data => Vue.set(this, 'alunos', data)).catch(function(error){
        console.log(error);
      });
        }
      },
      created() {
        this.getAlunos();
    console.log(this.alunos);
      }
    }
    </script>


    <style lang="css">
    </style>
