<template lang="html">
    <!DOCTYPE html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>Sistema Academico</title>
      </head>
      <body>
          <header-component></header-component>
          <main-component></main-component>
          <footer-component></footer-component>
      </body>
    </html>
</template>

<script>
import HeaderCompontent from './layouts/HeaderComponent.vue'
import MainCompontent from './layouts/MainComponent.vue'
import FooterCompontent from './layouts/FooterCompontent.vue'
export default {

}
</script>

<style lang="css">

</style>
