<template>
<form v-on:submit.prevent="enviar">
  <md-layout :md-gutter="8">
      <md-layout md-flex="50">
    <md-input-container>
       <label for="disciplina">BIMESTRE</label>
       <md-select v-model="bimestre" class="form-control">
           <md-option value="">Selecione um bimestre</md-option>
           <md-option v-for="bimestre in bimestres" v-bind:value="bimestre.id"> {{ bimestre.descricao }}</md-option>
       </md-select>
   </md-input-container>
  </md-layout>

<md-layout md-flex="50">
  <md-input-container>
      <label for="tpn">Tipo Nota</label>
      <md-select name="tpn" v-model="tipoNota">
          <md-option value="">Tipo Nota</md-option>
          <md-option v-for="tp in tipoNotas" v-bind:value="tp.id"> {{ tp.descricao }}</md-option>
      </md-select>
  </md-input-container>
</md-layout>

  <md-layout md-flex="50">
  <md-input-container>
      <label for="disciplina">TURMA</label>
      <md-select v-model="turma" v-on:change="getDisciplinas" class="form-control">
          <md-option value="">Selecione uma turma</md-option>
          <md-option v-for="turma in turmas" v-bind:value="turma.id"> {{ turma.descricao }}</md-option>
      </md-select>
  </md-input-container>
  </md-layout>

  <md-layout md-flex="50">
    <md-input-container v-show="discShow">
        <label for="disciplina" v-show="discShow">DISCIPLINA</label>
        <md-select v-model="disciplina" v-show="discShow" v-on:change="getProfessores" class="form-control select">
            <md-option value="">Selecione uma Disciplina</md-option>
            <md-option v-for="d in disciplinas" v-bind:value="d.id"> {{ d.descricao }}</md-option>
        </md-select>
    </md-input-container>
  </md-layout>
    <p></p>
      <md-layout md-flex="50">
<md-input-container v-show="profShow">
        <label for="PROFESSOR" v-show="profShow">PROFESSOR</label>
        <md-select v-model="professor" v-show="profShow" v-on:change="getAlunosTurma" class="form-control">
            <md-option value="">Selecione um Professor</md-option>
            <md-option v-for="p in professores" v-bind:value="p.id"> {{ p.nome }}</md-option>
        </md-select>
</md-input-container>
  </md-layout>
  </md-layout>
    </div>

    <md-table-card>
      <md-toolbar>
        <h1 class="md-title">Alunos</h1>
        <md-button class="md-icon-button">
          <md-icon>filter_list</md-icon>
        </md-button>

        <md-button class="md-icon-button">
          <md-icon>search</md-icon>
        </md-button>
      </md-toolbar>

      <md-table>
        <md-table-header>
          <md-table-row>
            <md-table-head >Nome Aluno</md-table-head>
            <md-table-head>Nota</md-table-head>
            </md-table-row>
        </md-table-header>

        <md-table-body>
          <md-table-row v-for="(row, rowIndex) in alunos" :key="rowIndex" :md-item="row">
            <md-table-cell v-for="(column, columnIndex) in 1" :key="columnIndex">
{{row.nome}}
            </md-table-cell>
            <md-table-cell>
              <md-input-container>
                <label for="nota">Nota</label>
                <md-input name="nota" maxlength="4" v-model="nota"></md-input>
              </md-input-container>
            </md-table-cell>
          </md-table-row>
        </md-table-body>
      </md-table>

      <md-table-pagination
        md-size="5"
        md-total="10"
        md-page="1"
        md-label="Rows"
        md-separator="of"
        :md-page-options="[5, 10, 25, 50]">
<!--@pagination="onPagination"-->
        </md-table-pagination>
    </md-table-card>
<md-button type="submit" name="button" class="md-raised md-primary">Enviar</md-button>
</form>

</template>

<script>

export default {
    data() {
            return {
                tipoNota: "",
                turma: "",
                professor: "",
                disciplina: "",
                bimestre:"",
                profShow: false,
                discShow: false,
                disciplinas: [],
                alunos: [],
                turmas: [],
                tipoNotas: [],
                professores: [],
                bimestres:[],
                horario:"",
                nota: 10

            }

        }, created() {
              axios.get('tiponotas').then(response => response.data).then(data => Vue.set(this, 'tipoNotas', data));
              axios.get('turmas').then(response => response.data).then(data => Vue.set(this, 'turmas', data));
              axios.get('bimestre').then(response => response.data).then(data => Vue.set(this, 'bimestres', data));
        },
        methods: {
            getAlunosTurma: function() {
              if( this.turma!=""){
                  axios.get('turma/'+this.turma+'/alunos').then(response => response.data).then(data => Vue.set(this, 'alunos', data));
this.getHorario();
                      }},
            getDisciplinas: function() {
                if (this.turma != "") {
                    axios.get("/getdisciplinas/" + this.turma).then(response => {
                        this.disciplinas = [];
                        if (response.data.length > 0) {
                            this.disciplinas = response.data;
                            this.discShow = true;
                        } else {
                            this.professore = "";
                            this.disciplina = "";
                            this.professores = [];
                            this.disciplinas = [];
                            this.discShow = false;
                            this.profShow = false;
                        }}, response => {
                          console.log(response);
                    });

                } else {
                    this.professore = "";
                    this.disciplina = "";
                    this.professores = [];
                    this.disciplinas = [];
                    this.discShow = false;
                    this.profShow = false;
                }
            },
            getProfessores() {
                if (this.turma != "" && this.disciplina != "") {
                    axios.get("/getprofessores/" + this.turma + "/" + this.disciplina).then(response => {
                        this.professores = [];
                        if (response.data.length > 0) {
                            this.professores = response.data;
                            this.profShow = true;
                        } else {
                            this.profShow = false;
                        }
                    }, response => {
                      console.log(response);
                    });
                } else {
                    this.profShow = false;
                }
            },getHorario(){

              axios.get('/horario/turma/'+this.turma+'/professor/'+this.professor+'/disciplina/'+this.disciplina+'/').then(response => {
  this.horario = response.data[0].id_horario;
                      }, response => {
                    console.log(response);
                  });
                      },
            enviar(){

              axios.post('nota',{ id_horario : this.horario, tipo_nota: this.tipoNota, valor: this.nota }).then(function (response) {
                console.log(response.data);}).catch(function (error) {
              if (error.response) {
                console.log(error.response.data);
                console.log(error.response.status);
                console.log(error.response.headers);
              }
              console.log(error);
            });
            }
        }
}
</script>
