<template lang="html">
  <ul class="pagination"> 
          <li class="waves-effect disabled"><a href=""><i class="mdi mdi-chevron-left"></i></a></li>
              <li class="waves-effect"><a href="" rel="prev"><i class="mdi mdi-chevron-left"></i></a></li>
              <li class="disabled">a</li>
                                <li class="active"><a href=""></a></li>
                                <li class="waves-effect"><a href=""></a></li>
          <li class="waves-effect"><a href="" rel="next"><i class="mdi mdi-chevron-right"></i></a></li>
          <li class="waves-effect disabled"><a href=""><i class="mdi mdi-chevron-right"></i></a></li>
  </ul>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
