<template>
  <div class="app-viewport" id="file-list">
    <md-sidenav class="md-left md-fixed" ref="sidebar">
      <md-toolbar class="md-account-header">
        <md-list class="md-transparent">
          <md-list-item class="md-avatar-list">
            <md-avatar class="md-large">
              <img src="https://placeimg.com/64/64/people/8" alt="People">
            </md-avatar>

            <span style="flex: 1"></span>

            <md-avatar>
              <img src="https://placeimg.com/40/40/people/3" alt="People">
            </md-avatar>

            <md-avatar>
              <img src="https://placeimg.com/40/40/people/4" alt="People">
            </md-avatar>
          </md-list-item>

          <md-list-item>
            <div class="md-list-text-container">
              <span>John Doe</span>
              <span>johndoe@email.com</span>
            </div>

            <md-button class="md-icon-button md-list-action">
              <md-icon>arrow_drop_down</md-icon>
            </md-button>
          </md-list-item>
        </md-list>
      </md-toolbar>

      <md-list>
        <md-list-item @click="$refs.sidebar.toggle()" class="md-primary">
          <md-icon>insert_drive_file</md-icon> <span>My files</span>
        </md-list-item>

        <md-list-item @click="$refs.sidebar.toggle()">
          <md-icon>people</md-icon> <span>Shared with me</span>
        </md-list-item>

        <md-list-item @click="$refs.sidebar.toggle()">
          <md-icon>access_time</md-icon> <span>Recent</span>
        </md-list-item>

        <md-list-item @click="$refs.sidebar.toggle()">
          <md-icon>start</md-icon> <span>Starred</span>
        </md-list-item>

        <md-list-item @click="$refs.sidebar.toggle()">
          <md-icon>delete</md-icon> <span>Trash</span>
        </md-list-item>
      </md-list>
    </md-sidenav>

    <md-whiteframe md-elevation="3" class="main-toolbar">
      <md-toolbar class="md-large">
        <div class="md-toolbar-container">
          <md-button class="md-icon-button" @click="$refs.sidebar.toggle()">
            <md-icon>menu</md-icon>
          </md-button>

          <span style="flex: 1"></span>

          <md-button class="md-icon-button">
            <md-icon>search</md-icon>
          </md-button>

          <md-button class="md-icon-button">
            <md-icon>view_module</md-icon>
          </md-button>
        </div>

        <div class="md-toolbar-container">
          <h2 class="md-title">My Files</h2>

          <md-button class="md-fab md-mini">
            <md-icon>add</md-icon>
          </md-button>
        </div>
      </md-toolbar>
    </md-whiteframe>

    <main class="main-content">

        <md-list-item>
          <md-avatar class="md-avatar-icon md-primary">
            <md-icon>insert_drive_file</md-icon>
          </md-avatar>

          <div class="md-list-text-container">
            <span>Notificações</span>
            <p>Jan 20, 2014</p>
          </div>

          <md-button class="md-icon-button md-list-action">
            <md-icon>info</md-icon>
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-avatar md-theme="orange" class="md-avatar-icon md-primary">
            <md-icon>collections</md-icon>
          </md-avatar>

          <div class="md-list-text-container">
            <span>Material Escolar</span>
            <p>Jan 10, 2014</p>
          </div>

          <md-button class="md-icon-button md-list-action">
            <md-icon>info</md-icon>
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-avatar md-theme="green" class="md-avatar-icon md-primary">
            <md-icon>view_list</md-icon>
          </md-avatar>

          <div class="md-list-text-container">
            <span>Grocery Shop</span>
            <p>Jan 10, 2014</p>
          </div>

          <md-button class="md-icon-button md-list-action">
            <md-icon>info</md-icon>
          </md-button>
        </md-list-item>

        <md-list-item>
          <md-avatar md-theme="orange" class="md-avatar-icon md-primary">
            <md-icon>collections</md-icon>
          </md-avatar>

          <div class="md-list-text-container">
            <span>Weekend Pictures</span>
            <p>Jan 10, 2014</p>
          </div>

          <md-button class="md-icon-button md-list-action">
            <md-icon>info</md-icon>
          </md-button>
        </md-list-item>
      </md-list>
    </main>
    <footer class="md-footer">
<md-bottom-bar md-shift>
  <md-bottom-bar-item md-icon="ondemand_video">Movies</md-bottom-bar-item>
  <md-bottom-bar-item md-icon="music_note">Music</md-bottom-bar-item>
  <md-bottom-bar-item md-icon="books" md-active>Books</md-bottom-bar-item>
  <md-bottom-bar-item md-icon="photo">Pictures</md-bottom-bar-item>
</md-bottom-bar>
</footer>
  </div>
</template>

<script>
</script>
